[submodule "libs/mimalloc"]
	path = libs/mimalloc
	url = https://github.com/microsoft/mimalloc
	branch = master
[submodule "libs/aws-rds-odbc"]
	path = libs/aws-rds-odbc
	url = git@github.com:aws/aws-rds-odbc.git
