[submodule "libs/mimalloc"]
	path = libs/mimalloc
	url = https://github.com/microsoft/mimalloc
	branch = master
[submodule "aws-rds-odbc"]
	path = aws-rds-odbc
	url = git@github.com:Bit-Quill/aws-rds-odbc.git
