<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

<?if $(sys.BUILDARCH) = x64 ?>
  <?define Platform = "x64" ?>
  <?define PKGNAME = "AWSpsqlODBC_x64" ?>
  <?define CIDREG = "5761E547-D13B-4221-9A63-9E8A4FDF7B4A" ?>
  <?define CIDDOC = "A7FAD2DB-B008-4321-B5C4-01AD6633A83F" ?>
  <?define CIDSMD = "{5AE2E3A9-5F2E-4976-856F-740F999A1A11}" ?>
  <?define UPGCOD = "B73906E3-C12A-4E04-ADEF-21A339013713" ?>
  <?define ALLUSERS = "1" ?>
<?elseif $(sys.BUILDARCH) = x86 ?>
  <?define Platform = "x86" ?>
  <?define PKGNAME = "AWSpsqlODBC" ?>
  <?define CIDREG = "C7A6F42B-2E96-4A8C-B567-C52864CFB841" ?>
  <?define CIDDOC = "733AA28C-2BCF-46CB-90C1-38E333ECDBA1" ?>
  <?define CIDSMD = "{D70C323C-9283-454C-B574-157FBB818BB2}" ?>
  <?define UPGCOD = "8A494A40-15B2-4A26-9A46-D63D7B78A008" ?>
  <?define ALLUSERS = "1" ?>
<?else?><!-- sys.BUILDARCH -->
  <?error Invalid build architecture ?>
<?endif?>

<?ifndef var.INSTBASE ?>
  <?define INSTBASE = $(Platform) ?>
<?endif?>

<?define MERGEM = "$(INSTBASE)\awspsqlodbc_$(Platform).msm" ?>

<!-- Product details -->

  <Package
    Manufacturer="Amazon.com, Inc. or its affiliates"
    UpgradeCode="$(UPGCOD)"
    Name="$(PKGNAME)"
    Version="$(VERSION)"
    Codepage="1252"
    InstallerVersion="300"
    Compressed="yes"
    Language="1033">

<!-- Package details -->

    <SummaryInformation
      Codepage="1252"
      Keywords="PostgreSQL, ODBC, AWS"
      Comments="AWS ODBC Driver for PostgreSQL" />

<!-- Directories -->

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="BASEDIR" Name="AWSpsqlODBC">
        <Directory Id="SUBLOC" Name="$(SUBLOC)">
          <Directory Id="BINDIR" Name="bin">
            <Component Id="registration" Guid="$(CIDREG)">
              <RegistryValue KeyPath="yes" Type="string" Root="HKLM" Key="Software\$(PKGNAME)" Name="Version" Value="$(VERSION)" />
            </Component>
            <Merge Id="awspsqlodbcm" DiskId="1" Language="1033" SourceFile="$(MERGEM)" />
          </Directory>
          <Directory Id="DOCSDIR" Name="docs" FileSource="../docs">
            <Component Id="docs" Guid="$(CIDDOC)">
              <File Name="README.txt" KeyPath="yes" />
              <File Name="config.html" />
              <File Name="config-opt.html" />
              <File Name="release.html" />
              <File Name="release-7.3.html" />
              <File Name="unix-compilation.html" />
              <File Name="win32-compilation.html" />
              <File Name="editConfiguration.jpg" />

              <!-- <Shortcut Id="docs.index.html" Directory="SMDir" Name="Documentation index" Description="psqlODBC documentation, HOWTOs and FAQs" Advertise="yes" Show="normal" /> -->
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="SMDir" Name="$(PKGNAME)">
        <Component Id="smdir" Guid="$(CIDSMD)">
          <RegistryValue KeyPath="yes" Type="string" Root="HKCU" Key="Software\$(PKGNAME)\SMDir Created" Value="y" />
          <RemoveFolder Id="SMDir" On="uninstall" />
        </Component>
      </Directory>
    </StandardDirectory>

<!-- Features -->

    <Feature Id="awspsqlodbc" Title="$(PKGNAME)" Level="1" Description="AWS ANSI ODBC Driver for PostgreSQL" ConfigurableDirectory="BASEDIR" Display="expand">
      <Feature Id="binaries" Title="ODBC Driver" Level="1" Description="The ODBC driver and supporting libraries.">
        <ComponentRef Id="registration" />
        <MergeRef Id="awspsqlodbcm" />
      </Feature>

      <Feature Id="docs" Title="Documentation" Level="4" Description="Documentation and release notes.">
        <ComponentRef Id="smdir" />
        <ComponentRef Id="docs" />
      </Feature>

    </Feature>
    <Media Id="1" EmbedCab="yes" Cabinet="awspsqlodbc.cab" CompressionLevel="high"/>

<!-- UI -->

    <ui:WixUI Id="WixUI_FeatureTree" InstallDirectory="BASEDIR" />
    <WixVariable Id="WixUILicenseRtf" Value="lgpl.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="background.jpg" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.jpg" />

<!-- Driver Icon -->

    <Icon Id="aws.ico" SourceFile="aws.ico"/>
    <Property Id="ARPPRODUCTICON" Value="aws.ico" />

<!-- Upgrade -->

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed"
      Schedule="afterInstallInitialize" />
  </Package>
</Wix>
